body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Transparencia para ver la imagen de fondo */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 20px; /* Espacio para móviles */
}

.card-header {
  margin-bottom: 20px;
  text-align: center; /* Centrar el contenido */
}

.card-title {
  display: flex;
  justify-content: center; /* Centrar el título */
  font-size: 24px;
  margin: 0;
}

.card-description {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
}

.result-title {
  font-size: 20px;
}

.result-description {
  font-size: 18px;
  font-weight: bold; /* Resaltar el texto */
}

.avatar {
  width: 50px; /* Tamaño del avatar */
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.username {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 600px) {
  .card {
      padding: 15px;
      margin: 10px;
  }

  .card-title {
      font-size: 20px;
  }

  .button {
      padding: 8px;
  }
}
